<!DOCTYPE html>
<html>

<head>
    <title>popup页</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        .row{
            background-color: #efefef;
    height: 22px;
    color: #333;
    line-height: 22px;
    margin: 2px 0;
    cursor: pointer;
    padding: 4px 8px;
    width: 160px;
        }
        .row input {
    border: none;
    height: 18px;
    padding: 2px 6px;
    margin: 0;
    width: 120px
}

.ay-button{
    display: inline-block;
    height: 100%;
    width:20px;
    min-height: 16px;
}
span.ay-button:hover {
    color: red;
}
    </style>

</head>

<body>
    <div id="app">
        <div>
            <div class="row" @click="start">START</div>
            <div class="row" @click="stop">STOP</div>
            <div class="row" v-for="(index,item) in searchList" :key="'key' + index"><input v-model="item"> <span class="ay-button"
                    @click="minus(index)">-</span></div>
            <div class="row" class="ay-button" @click="add">+</div>
            <div class="row" @click="save">SAVE</div>
            <div class="row" @click="show">SHOW</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="js/jq3.3.1.js"></script>
<script type="text/javascript" src="js/vue.1.0.28-csp.js"></script>
<script type="text/javascript" src="js/popup.js"></script>

</html>